{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "react-app"
  ],
  "globals": {
    "chrome": "readonly"
  },
  "rules": {
    "indent": ["error", 2 ]
  }
}