.googleButton {
  text-decoration: none;
}

.panel {
  position: fixed;
  right: 12px;
  top: 12px;
  width: 300px;
  z-index: 10000;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
