.sidebar {
  color: #fff;
  margin-bottom: 16px;

  .sidebarTitle {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 4px;
  }
}

.video {
  padding: 8px 0;
  display: flex;

  &:hover {
    cursor: pointer;
    /* background: rgba(255, 255, 255, 0.1); */
  }

  .videoThumbnail {
    margin-right: 8px;
    height: auto;
    width: 90px;
    background: #717171;
  }

  .videoTitle {
    font-size: 1.4em;
    font-weight: 600;
    padding: 4px 0;
    text-decoration: none;
    color: #fff;
  }
}